:root {
    --main-color: #b908ff;
    --sub-color: #2868ff;
}


body {
    background-color: #ffaf54;
}

header {
    /* padding: 20px 35px; */
    background-color: #ffaf54;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

header h1 {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--main-color);
    margin: 10px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
  
/* header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-direction: row;
  } */

header nav ul li a {
    display: flex;
    margin: 0 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--sub-color);
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  a {
    position: relative;
    text-decoration: none;
  }

  a:link {
    color: var(--sub-color);
  }
  
  a:hover, a:active {
    background-color: #ffd838;
    padding: 4px 4px;
  }

  .hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/simsleeps.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.hero-box {
    background-color: #ffd838;
    border: 2px solid var(--main-color);
    width: 150px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    margin: 0px;
    box-sizing:border-box;
    text-align: center;

}

.hero-box h3 {
    align-items: center;
    text-align: center;
    display: flex;
    box-sizing:border-box;
    margin: auto;
    padding: 15px;
    color: var(--sub-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.about-info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: var(--sub-color);
    vertical-align: top;
    text-align: left;
    display: flex;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.section-title {
    color: var(--main-color);
    display: flex;
    margin: 10px 20px 10px 0px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.myFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-info div {
    color: var(--sub-color);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.about-info img {
    width: 450px;
    float: left;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
}

.resume-info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: var(--main-color);
    display: flex;
    margin: 10px 20px 10px 0px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.resume-info img {
    width: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
}

figcaption {
    caption-side: top;
    background-color: var(--main-color);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    vertical-align: top;
    width: 445px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  img-scaled {
    width: 100%;
  }

  footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--main-color);
    display: flex;
    text-align: center;
    margin: 30px 0px 0px 0px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    justify-content: center;
    background-color: #ffd838;
  }


/* 
  @media screen and (max-width: 800px){
    body {
        background-color: blue;
    }
  } */

  @media screen and (max-width: 980px){
    .about-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: none;

    }

    .resume-info img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        float: none;
    }

    figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .section-title {
        font-size: 30px;
    }
  }
  