:root {
    --main-color: #9623C2;
    --sub-color: #3060D1;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #ffd838;
}

header {
    /* padding: 20px 35px; */
    background-color: #ffd838;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

header h1 {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: var(--main-color);
    margin: 10px 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }
  
/* header nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-direction: row;
  } */

header nav ul li a {
    display: flex;
    margin: 0 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--sub-color);
    font-weight: lighter;
    font-size: 22px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  a {
    position: relative;
    text-decoration: none;
  }

  a:link {
    color: var(--sub-color)
  }
  
  a:hover, a:active {
    background-color: rgb(255, 255, 255);
    padding: 4px 4px;
  }

  .hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/simsleeps.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.hero-box {
    background-color: #ffd838;
    border: 2px solid var(--main-color);
    width: 150px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    margin: 0px;
    box-sizing:border-box;
    text-align: center;

}

.hero-box h3 {
    align-items: center;
    text-align: center;
    display: flex;
    box-sizing:border-box;
    margin: auto;
    padding: 15px;
    color: var(--sub-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.about-info {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--sub-color);
    vertical-align: top;
    text-align: left;
    display: flex;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.section-title {
    color: var(--main-color);
    display: flex;
    margin: 10px 20px 10px 0px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.about-info div {
    color: var(--sub-color);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.about-info img {
    width: 35%;
    float: left;
}

figure {
    display: table;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: top;
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
    vertical-align: top;
    width: 34%;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  img-scaled {
    width: 100%;
  }